.wrapper {
  grid-column: 3 / 11;
  padding: 8px;
}

.title {
  margin: 0;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-size: 64px;
  line-height: 1.2;
  color: #1F3A40;
}

.datetime {
  display: inline-block;
  margin-top: 8px;
}

.content {
  margin-top: 64px;
}

.content strong,
.content b {
  font-weight: 400;
}

.content p {
  margin-top: 16px;
  line-height: 1.5;
}

.content h2 {
  margin: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-color)
}

.content img {
  display: flex;
  margin: 32px 0;
}
.content a {
  font-weight: 400;
  color: var(--accent-color);
}

.content ul, .content ol {
  margin: 16px 0;
  margin-left: 16px;
}

.tags {
  margin: 0;
  margin-top: 40px;
  display: flex;
  list-style-type: none;
}

.tag {
  padding: 6px 16px;
  margin-right: 16px;
  font-weight: 400;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}