.header {
  position: relative;
  background-color: #fbfef9;
}

.header__container {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px 0 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

.nav {
  margin-left: 40px;
  display: flex;
}

.nav__link_wrapper {
  margin: 0px 10px;
}

.nav__logo {
  width: 80px;
  margin-top: 30px;
  height: auto;
}

.nav__link {
  color: #191923;
  font-size: 24px;
  text-decoration: none;
}
